.burger-trigger {
  display: grid;
  gap: rem(7.5);
  grid-template-columns: 1fr;

  &__item {
    border-radius: rem(4);
    width: rem(24);
    height: rem(3);
    background-color: var(--color-codGray);
    transition-property: transform, opacity, visibility;
    transition-duration: $transitionDuration;
  }

  &.active {
    .burger-trigger__item {
      &:nth-child(1) {
        transform: rotate(45deg) translate(rem(8), rem(8));
      }

      &:nth-child(2) {
        opacity: 0;
        visibility: hidden;
        transform: translateX(-100%);
      }

      &:nth-child(3) {
        transform: rotate(-45deg) translate(rem(7), rem(-7));
      }
    }
  }

  @include mouse-device {
    &:focus {
      .burger-trigger__item {
        background-color: #60c0c3;
      }
    }
  }
}
