.link-with-arrow {
  font-size: rem(15);
  line-height: lh(22, 15);
  color: var(--color-prussianBlue);

  &__text {
    padding-right: rem(4);
  }

  &__icon {
    width: rem(12);
    height: rem(12);
    transform: translateY(rem(1));
  }
}
