:root {
  --color-white: #fff;
  --color-black: #000;
  --color-ecruWhite: #eaeaea;
  --color-gray: #8f9090;
  --color-prussianBlue: #003154;
  --color-codGray: #1e1e1e;
  --color-tundora: #404040;
  --color-athensGray: #f7f7f8;
  --color-mercury: #e1e1e1;
}
